[submodule "src/rqt_joy"]
	path = src/rqt_joy
	url = https://git.fh-aachen.de/Wiesen/rqt_joy
	branch = eloquent-devel
[submodule "src/ros_tutorials"]
	path = src/ros_tutorials
	url = https://github.com/ros/ros_tutorials.git
	branch = foxy-devel

[submodule "src/joint_state_publisher"]
	path = src/joint_state_publisher
	url = https://github.com/ros/joint_state_publisher
	branch = foxy

